* {
    box-sizing: border-box;
    max-width: 100%;
}

[data-theme-color='dark']:root, :root{
    color-scheme: dark;
    --primary-color: #000000;
    --secondary-color: #131313;
    --tertiary-color: #262626;
    --revert-color: #efefef;
}



[data-theme-color='light']:root{
    color-scheme: light;
    --primary-color: #fcfcfc;
    --secondary-color: #d0d0d0;
    --tertiary-color: #bcbcbc;
    --revert-color: #000000;
}

html, body{
    background-color: var(--primary-color);
    padding: 0%;
    margin: 0%;
}

header{
    text-align: center;
    background-color: var(--primary-color);
    border-bottom: 1px solid var(--revert-color);
}

input#lblModoNoturno{
    display: none;
}

#lblModoNoturno ~ label[for='lblModoNoturno']{
    float: left;
    content: "";
    display: flex;
    align-items: flex-start;
    justify-content: end;
    width: 1.6rem;
    aspect-ratio: 1 / 1;
    background: whitesmoke;
    margin: 5px;
    border-radius: 1rem;
    transition: 500ms;
}

#lblModoNoturno ~ label[for='lblModoNoturno']::after{
    content: "";
    display: block;
    width: 80%;
    aspect-ratio: 1 / 1;
    background-color: var(--primary-color);
    border-radius: 1rem;
    transition: 500ms;
}

#lblModoNoturno:checked ~ label[for='lblModoNoturno']{
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    background: conic-gradient(from 330deg, orange 0% 10%, transparent 12% 18%, orange 20% 30%, transparent 32% 38%, orange 40% 50%, transparent 52% 58%, orange 60% 70%, transparent 72% 78%, orange 80% 90%, transparent 92% 98%, orange);
    margin: 5px;
    border-radius: 1rem;
}

#lblModoNoturno:checked ~ label[for='lblModoNoturno']::after{
    content: "";
    display: block;
    width: 50%;
    aspect-ratio: 1 / 1;
    background-color: orange;
    border-radius: 1rem;
    box-shadow: 0px 0px 0px 4px var(--primary-color);
}

#totalBar{
    position: sticky;
    top: 0%;
    background: linear-gradient(180deg, var(--primary-color) 95%, transparent);
}

#totalContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    max-height: 100%;
    margin: 10px auto;
    padding: 10px;
}

#totalContainer div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
    max-width: 100%;
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 8px 5px;
}

#totalContainer div b{
    padding: 2px 8px;
}

#totalContainer div #idTotalDinheiro, #idTotalCedulas, #idTotalMoedas{
    font-size: large;
    text-align: center;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background: var(--tertiary-color);
}

#totalContainer div button{
    border: none;
    background-color: var(--tertiary-color);
    border-radius: 5px;
    padding: 3px;
}

main{
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 0px 2px var(--secondary-color);
    border-radius: 5px;
    max-width: 1000px;
    margin: auto auto 2rem auto;
}

#container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    padding: 5px;
    gap: 10px;
}

#container .container_dinheiro{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 5px 8px;
    padding: 5px;
    max-width: 100%;
    border-radius: 4px;
    border: 3px solid var(--tertiary-color);
    background-color: var(--secondary-color);
}

#container .container_dinheiro > .labelImg{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 8;
    grid-row: 1 / 7;
}

#container .container_dinheiro > .labelImg > img{
    display: block;
    width: auto;
    max-height: 140px;
}

#container .container_dinheiro > .labelValue{
    border: 2px solid var(--tertiary-color);
    border-radius: 4px;
    padding: 2px 4px;
    overflow: hidden;
    grid-column: 1 / 4;
    grid-row: 7;
}

#container .container_dinheiro > .inputValue{
    border: 2px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
    border-radius: 4px;
    text-align: right;
    grid-column: 4 / 8;
    grid-row: 7;
}

#container .container_dinheiro > .spanTotal{
    border: 2px solid var(--tertiary-color);
    background-color: var(--secondary-color);
    border-radius: 4px;
    padding: 2px 4px;
    grid-column: 1 / 7;
    grid-row: 8;
    white-space: nowrap;
    overflow-y: auto;
}

#container .container_dinheiro > .btnLimparUm{
    background-color: var(--tertiary-color);
    border: none;
    border-radius: 4px;
    grid-column: 7;
    grid-row: 8;
}

#container .container_dinheiro > .spanAtalho{
    display: block;
    text-align: center;
    border-width: 2px 5px 5px 2px;
    border-style: inset;
    border-color: #333333;
    border-radius: 2px;
    box-shadow: 0px 0px 1px black;
    background: black;
    color: #efefef;
    grid-column: 7;
    grid-row: 1;
    aspect-ratio: 1 / 1;
}